@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Rubik-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Rubik-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Rubik-Bold.woff2') format('woff2');
}

body {
    font-family: 'Rubik', sans-serif;
}

.navbar,
.navbar .links {
    background-color: #333 !important;
    a,
    a:hover,
    .router-link-active {
        color: #ddd;
    }
}

.sidebar-button {
    color: #ddd;
}

.site-name {
    color: #ddd !important;
    font-size: 1.5rem !important;
    line-height: 0 !important;    
}

.page {
    padding-bottom: 0 !important;
}

footer.footer {   
    max-width: 740px;
    text-align: center;
    margin: 2rem auto 0;
}

.footer .icons {
    padding: 1rem;
    border-top: 1px solid #eaecef;
}

.footer .icons svg {
    color: #bbb;
    width: 1.25rem;
    height: auto;
    margin: 0 0.5rem;
}

.footer .icons svg:hover {
    color: #37c871;
}