@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap')

body {
    font-family: 'Rubik', sans-serif;
}

.navbar,
.navbar .links {
    background-color: #333 !important;
    a,
    a:hover,
    .router-link-active {
        color: #ddd;
    }
}

.sidebar-button {
    color: #ddd;
}

.site-name {
    color: #ddd !important;
    font-size: 1.5rem !important;
    line-height: 0 !important;    
}