name: Mirroring

on: [ push ]

# Ensures that only one mirror task will run at a time.
concurrency:
  group: git-mirror

jobs:
  git-mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: wearerequired/git-mirror-action@v1
        env:
          SSH_PRIVATE_KEY: ${{ secrets.REPO_BRICKS_DOCS }}
        with:
          source-repo: "git@github.com:stefanobartoletti/bricks-docs.git"
          destination-repo: "git@gitlab.com:stefanobartoletti/bricks-docs.git"